<div class="row main-content">
	<div class="panel panel-default">
		<div class="panel-body">
			<ul class="nav nav-tabs">
				<li class="<%=  @active_tab ? 'active' : ' '%>">
					<a href="#module" data-toggle="tab">
						<%= image_tag("menu/module_icon.png") %>&nbsp;&nbsp; Modules
					</a>
				</li>
		
			<% if @current_user.has_role?(:admin) %>
				<li class="<%= @active_tab ? '' : 'active'%>">
					<a href="#user-role" data-toggle="tab">
						<%= image_tag("menu/user_icon.png") %>&nbsp;&nbsp;Users / Roles
					</a>
				</li>
			<% end %>

			</ul>
			<div class="tab-content">
				<!--  -->
				<div class="tab-pane <%=  @active_tab ? 'active' : ''%>" id="module">
					<div class="col-md-7 panel-content col-max-7">
						<div>
							<div class="module-panel-title">
								<%= image_tag("menu/bom_template.png", class: "title-icon") %>
								&nbsp;BOM TEMPLATES LIBRARY
								<%= image_tag("menu/search_blue.png", class: "search-icon") %>
								<div class="btn-group btn-input clearfix sort-term pull-right">
									<button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
										<span data-bind="label">Date Created(Latest)</span>
										<span class="fa fa-angle-down"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Date Created(Latest)</a></li>
										<li><a href="#">Counts (Maximum)</a></li>
									</ul>
								</div>
							</div>

							<div id="bom-categories">
								<% @bom_categories.each do |bom_category| %>
									<div class="col-md-12111 list-item bom-title">
										<div class="pull-left">
											<%= image_tag bom_category.photo.url %>
											&nbsp;&nbsp;<%= bom_category.name %>
										</div>

										<div class="pull-right">
											<button class="btn btn-view" data-toggle="collapse" data-target="#bom_category-<%= bom_category.id %>">VIEW ALL</button>
											<% if @current_user.has_role?(:admin) %>
												<button class="btn btn-delete-bom-category" data-id="<%= bom_category.id %>">
													<span class="fa fa-trash"></span>
												</button>
											<% end %>
										</div>
									</div>
									<div id="bom_category-<%= bom_category.id%>" class="parts collapse fade">
										<div class="real-content">
											<% bom_category.boms.each do |bom| %>
												<div class="boms">
													<div class="col-md-12111 list-item">
														<div class="pull-left">
															<%= image_tag bom.photo.url %>
															&nbsp;&nbsp;<%= bom.name %>
														</div>

														<div class="pull-right">
															<a class="change-sub-tab active" data-toggle="tab" href="#part_modules_<%= bom.id %>"> Part Items </a> <span>|</span>
															<a class="change-sub-tab" data-toggle="tab" href="#questions_<%= bom.id %>"> Questions </a> 

															<button class="btn btn-view" data-toggle="collapse" data-target="#bom-<%= bom.id %>">DETAIL</button>
															<% if @current_user.has_role?(:admin) or @current_user.has_role?(:super_visor) %>
																<%= link_to '<span class="fa fa-pencil"></span>'.html_safe, edit_bom_path(bom), remote: true, class: "btn btn-default" %>
															<% end %>
															<%= link_to '<span class="fa fa-file-pdf-o"></span>'.html_safe, bom_path(bom, :format => 'pdf'), class: "btn", :target => "_blank" %>

															<%= link_to '<span class="fa fa-file-text-o"></span>'.html_safe, bom_path(bom, :format => 'csv'), class: "btn", :target => "_blank" %>

															<% if @current_user.has_role?(:admin) or @current_user.has_role?(:super_visor) %>
																<button class="btn delete-bom-btn" data-id="<%= bom.id %>">
																	<span class="fa fa-trash"></span>
																</button>
															<% end %>
														</div>
													</div>
													<div id="bom-<%= bom.id %>" class="parts collapse fade tab-content">
														<div id="part_modules_<%= bom.id %>" class="tab-pane active">
															<% total_count = 0; total_price = 0;%>
															<% bom.part_modules.each do |part_module| %>
																<div class="col-md-12111 list-item part-module-item text-left" data-id="<%= part_module.id %>" data-name="<%= part_module.part.part_name %>" bom-id="<%= bom.id %>">
																	<div class="pull-left col-md-5">
																		<%= image_tag part_module.part.picture.url %>
																		&nbsp;&nbsp;
																		<%= part_module.part.part_name %>
																		&nbsp;&nbsp;&nbsp;&nbsp;

																		x
																		<input type="text" class="part_module_count" value="<%= part_module.count %>" autocomplete="off">
																		&nbsp;pc
																		<% total_count = total_count + part_module.count; total_price = total_price + part_module.count * part_module.part.price.to_f %>
																	</div>
																	<!-- <div class="col-md-4 firmware_version"> -->
																	<span class="firmware_version"><%= part_module.part.firmware.nil? ? "" : part_module.part.firmware.number %></span>
																		
																	<!-- </div> -->
																	<div class="pull-right">
																		$<span class="part-price"><%= part_module.part.price %></span>&nbsp;&nbsp;&nbsp;
																		<% if @current_user.has_role?(:admin) or @current_user.has_role?(:super_visor) %>
																			<button class="btn delete_part_module_item" data-id="<%= part_module.id %>">
																				<span class="fa fa-trash"></span>
																			</button>
																		<% end %>
																	</div>
																</div>
															<% end %>
															<% if @current_user.has_role?(:admin) or @current_user.has_role?(:super_visor) %>
																<div class="col-md-12111 list-item add-parts-by-drop" data-id="<%= bom.id %>">
																	Drag an item here from Part Library
																</div>
															<% end %>
														</div>
														<div id="questions_<%= bom.id %>" class="tab-pane">
															<% bom.questions.each do |question| %>
																<div class="col-md-12111 list-item">
																	<div class="pull-left">
																		<%= question.question %>
																	</div>

																	<div class="pull-right">
																		<% if question.question_type == 1 %>
																			<% if question.choice_answer %>
																				<label><input type="radio" checked name="choice_answer">Yes</label>
																				<label><input type="radio" name="choice_answer">No</label>
																			<% else %>
																				<label><input type="radio" name="choice_answer">Yes</label>
																				<label><input type="radio" checked name="choice_answer">No</label>
																			<% end %>
																		<% elsif question.question_type == 2 %>
																			<% question.multi_questions.each do |mul| %>
																				<label><input type="checkbox" <%= (mul.selected) ? "checked" : "" %> name="multi_answer[]"><%= mul.text_answer %></label>
																			<% end %>
																		<% else %>
																			<label><input type="text" name="text_answer" value="<%= mul.text_answer %>"></label>
																		<% end %>
																		<% if @current_user.has_role?(:admin) or @current_user.has_role?(:super_visor) %>
																			<button class="btn delete-question-btn" data-id="<%= question.id %>"><span class="fa fa-trash"></span></button>
																		<% end %>
																	</div>
																</div>
															<% end %>
															<% if @current_user.has_role?(:admin) or @current_user.has_role?(:super_visor) %>
																<div class="col-md-12111 list-item add-question" data-id="<%= bom.id %>">
																	Add Question
																</div>
															<% end %>
														</div>
														<div class="col-md-12111 list-item total-cost">
															<div class="col-md-4">
																TOTAL COST
															</div>
															<div class="col-md-4">
																<span class="total_count_span"><%= total_count %></span>x items
															</div>
															<div class="col-md-4">
																$<span class="total_cost"><%= total_price %></span>
															</div>
														</div>
													</div>
												</div>
											<% end %>
										</div>
										<% if @current_user.has_role?(:admin) or @current_user.has_role?(:super_visor) %>
											<div id="bom-category-<%= bom_category.id %>" data-name="<%= bom_category.name %>" class="col-md-12111 list-item add-bom-category">
												Add <%= bom_category.name %> BOM
											</div>
										<% end %>
									</div>
								<% end %>
							</div>
							<% if @current_user.has_role?(:admin) %>
								<div id="add-bom-category" class="col-md-12111 list-item add-category">
									Add Category
								</div>
							<% end %>
						</div>
					</div>
					
					<!-- Parts Library -->
					<div class="col-md-5 panel-content col-max-5">
						<div>
							<div class="module-panel-title part-module">
								<%= image_tag("menu/part_library_icon.png", class: "title-icon-second") %>
								&nbsp;PARTS LIBRARY
								<%= image_tag("menu/search_red.png", class: "search-icon") %>
								<div class="btn-group btn-input clearfix sort-term pull-right">
									<button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
										<span data-bind="label">Date Created(Latest)</span>
										<span class="fa fa-angle-down"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Date Created(Latest)</a></li>
										<li><a href="#">Counts (Maximum)</a></li>
									</ul>
								</div>
							</div>
							<div id="part_categories">
								<% @part_categories.each do |part_category| %>
									<div class="col-md-12111 list-item">
										<div class="pull-left">
											<%= image_tag part_category.photo.url %>
											&nbsp;&nbsp;<%= part_category.name %>
										</div>
										<div class="pull-right">

											<% if @current_user.has_role?(:admin) or @current_user.has_role?(:super_visor) %>
												<button class="add-part-btn btn">
													<span class="fa fa-plus fa-lg"></span>
												</button>
											<% end %>
											<button class="btn" data-toggle="collapse" data-target="#parts-<%= part_category.id %>">
												<span class="fa fa-angle-down"></span>
											</button>
										</div>
									</div>

									<div id="parts-<%= part_category.id%>" class="parts collapse fade">
										<% part_category.parts.each do |part| %>
											<div class="col-md-12111 list-item draggable-part" data-id="<%= part.id %>" data-name="<%= part.part_name %>">
												<div class="pull-left">
													<%= image_tag part.picture.url %>
													&nbsp;&nbsp;<%= part.part_name %>
												</div>
												<div class="pull-right">
													<button class="btn btn-detail-part" data-id="<%= part.id %>">Detail</button>
													<% if @current_user.has_role?(:admin) or @current_user.has_role?(:super_visor) %>
														<button class="btn btn-delete-part" data-id="<%= part.id %>"><span class="fa fa-trash fa-lg"></span></button>
													<% end %>
												</div>
											</div>
										<% end %>
									</div>
								<% end %>
							</div>
							<% if @current_user.has_role?(:admin) %>
								<div id="add-part-library" class="col-md-12111 list-item add-category">
									Add Category
								</div>
							<% end %>
						</div>
					</div>
				</div>

			<% if @current_user.has_role?(:admin) %>
				<div class="tab-pane <%=  @active_tab ? '' : 'active'%>" id="user-role">
					<div class="col-md-7 panel-content col-max-7">
						<div>
							<div class="module-panel-title">
								<%= image_tag("create_user/user_tab_icon.png", class: "user-role-icon") %>
								&nbsp;USERS&nbsp;
								<%= image_tag("create_user/user_plus.png", class: "search-icon", id: 'add-user') %>
								<%= image_tag("create_user/user_search.png", class: "search-icon") %>

								<div class="btn-group btn-input clearfix sort-term pull-right">
									<button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
										<span data-bind="label">Date Created(Latest)</span>
										<span class="fa fa-angle-down"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Date Created(Latest)</a></li>
										<li><a href="#">Counts (Maximum)</a></li>
									</ul>
								</div>
							</div>
							
							<table class="table table-striped" id="users">
								<thead>
									<tr>
										<th><input type="checkbox" name="user"></th>
										<th> NAME </th>
										<th> EMAIL </th>
										<th> LAST ACTIVE </th>
										<th> STATUS </th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<% @users.each do |user| %>
										<% if !user.email.eql?(@current_user.email) %>
											<tr class="user_fields" data-id="<%= user.id %>">
												<td>
													<input type="checkbox" name="user">
												</td>
												<td>
													<%= image_tag user.photo.url %>
													<%= "#{user.first_name} #{user.last_name}" %>
												</td>
												<td>
													<%= user.email  %>
												</td>
												<td>
													<%= user.created_at.strftime("%B %d,%Y <br> %I:%M%p").html_safe %>
												</td>
												<td>
													<button class="btn btn-user-status">Active</button>
												</td>
												<td>
													<button class="btn btn-user-delete" data-id="<%= user.id %>">
														<span class="fa fa-trash"></span>
													</button>
												</td>
											</tr>
										<% end %>
									<% end %>
								</tbody>
							</table>
							<div class="panatation-container">
								<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
							</div>
						</div>
					</div>
					
					<!-- Parts Library -->
					<div class="col-md-5 panel-content col-max-5">
						<div class="module-panel-title part-module">
							<%= image_tag("create_user/role_icon.png", class: "title-icon-second") %>
							&nbsp;ROLES
						</div>
						<div id="user-roles" class="user-roles">
							<!-- 
							
							-->
						</div>
						
					</div>
				</div>
			<% end %>

				<!-- Users and Roles Part -->
				

			</div>
		</div>
	</div>


	<% if @current_user.has_role?(:admin) or @current_user.has_role?(:super_visor) %>
	
	<!-- Add User Dialog -->
	<div id="add-user-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"> &times;</button>
					Add User
				</div>
				<div class="modal-body">
					<%= form_for @user, :url => '/users_admin.json', :method => 'post', :multipart => true do |f| %>
						<%= f.text_field :first_name, placeholder: 'First Name' %>
						<%= f.text_field :last_name, placeholder: 'Second Name' %>
						<%= f.email_field :email, placeholder: 'Email' %>
						<%= f.file_field :photo, class: 'hide', id: 'user-photo-file', accept: "image/*" %>
						<div class="file-upload">
							<%= image_tag("create_user/add_photo.png", id: "add-user-photo") %>
						</div>
						<%= f.password_field :password, placeholder: 'Password' %>
						<%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %>
						<div class="submit-div">
							<a id="btn-save-user" class="btn btn-save-user" value="Create">Create</a>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Add Part Category Dialog  -->
	<div id="add-part-category-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"> &times;</button>
					Add Parts Category
				</div>
				<div class="modal-body">
					<%= form_for @part_category, :url => '/part_categories.json', :method => 'post', :multipart => true do |f| %>
						<%= f.text_field :name, placeholder: 'Category Name' %>
						<%= f.text_area :description, placeholder: 'Description (if any)' %>
						<%= f.file_field :photo, class: 'hide', id: 'part-category-photo-file', accept: "image/*" %>
						<div class="file-upload">
							<%= image_tag("create_user/add_photo.png", id: "part-category-photo") %>
						</div>
						<div class="submit-div">
							<a id="btn-save-part-category" class="btn btn-save-user" value="Create">Create</a>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div id="add-part-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"> &times;</button>
					Add New Part
				</div>
				<div class="modal-body">

					<%= form_for @part, :url => '/parts.json', :method => 'post', :multipart => true do |f| %>
						<%= f.text_field :part_name, placeholder: 'Part Name*' %>
						<%= f.text_area :part_description, placeholder: 'Part Description' %>
						<%= f.text_field :manufacturing_part, placeholder: 'Manufacturing Part Number*' %>
						<%= f.text_field :darko_part_number, placeholder: 'Darko Part Number' %>

						<%= f.file_field :picture, class: 'hide', id: 'part-photo-file', accept: "image/*" %>
						<%= f.file_field :specification, class: 'hide', id: 'part-specification-file', accept: "application/msword,application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf," %>
						<div class="file-upload">
							<div class="col-first">
								<%= image_tag("create_user/add_photo.png", id: "part-photo") %>
							</div>
							<div class="col-second">
								Specification <br>
								<%= image_tag("menu/attachment.png", id: "part-specification") %>
								<br>
								<div id="attach_text">ATTACHFILE</div>
							</div>
						</div>

						<div class="input-field">
							<%= f.text_field :price, placeholder: 'Price*' %>
							<select class="selectpicker">
								<option value="USD">USD</option>
							</select>
						</div>

						<div class="firmware-input-field">
							<%= f.collection_select :firmware_id, Firmware.all, :id, :number, { prompt: true }, { class: 'selectpicker' } %>
							<a id="add-firmware-btn" class="pull-right down-caret btn">
								<span class="fa fa-plus"></span>
							</a>
						</div>

						<div class="input-field1">
							<%= f.collection_select :part_category_id, PartCategory.all, :id, :name, { prompt: false }, { class: 'selectpicker'} %>
						</div>

						<div class="submit-div">
							<a id="btn-save-part" class="btn btn-save-user" value="Create">Save to Category</a>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>


	

	<!-- Add Part Category Dialog  -->
	<div id="add-bom-category-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"> &times;</button>
					Add BOM Category
				</div>
				<div class="modal-body">
					<%= form_for @bom_category, :url => '/bom_categories.json', :method => 'post', :multipart => true do |f| %>
						<%= f.text_field :name, placeholder: 'Category Name' %>
						<%= f.text_area :description, placeholder: 'Description (if any)' %>
						<%= f.file_field :photo, class: 'hide', id: 'bom-category-photo-file', accept: "image/*" %>
						<div class="file-upload">
							<%= image_tag("create_user/add_photo.png", id: "bom-category-photo") %>
						</div>
						<div class="submit-div">
							<a id="btn-save-bom-category" class="btn btn-save-user" value="Create">Create</a>
						</div>
					<% end %>

				</div>
			</div>
		</div>
	</div>

	<div id="add-bom-modal" class="manage-bom-modal modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"> &times;</button>
					Add <span id="bom-name"></span> BOM
				</div>

				<div class="modal-body">
					<%= form_for @bom, :url => '/boms.json', :method => 'post', :multipart => true do |f| %>
						<%= f.text_field :name, placeholder: 'BOM Name*' %>
						<%= f.text_area :description, placeholder: 'Description*' %>
						<%= f.collection_select :bom_category_id, BomCategory.all, :id, :name, { prompt: false }, { class: 'selectpicker' } %>
						<%= f.text_field :purchase_order_number, placeholder: 'Purchase Order Number*' %>
						<%= f.file_field :photo, class: 'hide', id: 'bom-photo-file', accept: "image/*" %>
						<div class="file-upload">
							<%= image_tag("create_user/add_photo.png", id: "bom-photo") %>
						</div>
						<div class="submit-div">
							<a id="btn-save-bom" class="btn btn-save-user" value="Create">Create</a>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>


	<div id="edit-bom-modal" class="manage-bom-modal modal fade" role="dialog">
		
	</div>

	<div id="add-question-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"> &times;</button>
					Add Question
				</div>

				<div class="modal-body">
					<%= form_for @question, :url => '/questions.json', :method => 'post', :multipart => true do |f| %>
						<input type="hidden" name="question[bom_id]" id="bom_id_value">
						<%= f.text_area :question, placeholder: 'Write a Question...' %>
						<div class="answer-tab-btns">
							<label class="answer">
								Answer
							</label>
							<div class="btn-group" data-toggle="buttons" style="width: 78%;">
								<label class="btn active">
									<input type="radio" name="question[question_type]" autocomplete="off" value="1">Radio
								</label>
								<label class="btn">
									<input type="radio" name="question[question_type]" autocomplete="off" value="2">Tick Box
								</label>
								<label class="btn">
									<input type="radio" name="question[question_type]" autocomplete="off" value="3">Fill in the Blanks
								</label>
							</div>
						</div>
						<div class="text-answers">
							<div class="radio-answer">
								<label>
									<input type="radio" name="question[choice_answer]" value="TRUE" > Yes 
								</label>
								<br>
								<label>
									<input type="radio" name="question[choice_answer]" value="FALSE" > No
								</label>
							</div>
							<div class="check-answer" style="display: none;">
								<div>
									<input type="text" name="multi[]">
								</div>
								<a id="add-more-question" class="btn"><span class="fa fa-plus"></span></a>
							</div>
							<div class="text-answer" style="display: none;">
								<input type="text" name="question[text_answer]" placeholder="Please input answer...">
							</div>
						</div>

						<div class="submit-div">
							<a id="btn-save-question" class="btn btn-save-user" value="Create">Create</a>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div id="add-firmware-dialog" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"> &times;</button>
					Add New Firmware
				</div>
				<div class="modal-body">
					<%= form_for @firmware, :url => '/firmwares.json', :method => 'post', :multipart => true do |f| %>
						<%= f.text_field :number, placeholder: 'Firmware Number' %>
						<%= f.text_field :description, placeholder: 'Firmware Description' %>
						<div class='input-group date' id='datetimepicker'>
							<%= f.text_field :publish_date, placeholder: 'Publish Date' %>
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
						<div class="submit-div">
							<a id="btn-save-firmware" class="btn btn-save-user" value="Create">Add to list</a>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>

<div id="show-part-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"> &times;</button>
				Part
			</div>
			<div class="modal-body">
				<input id="show-part-name" type="text" placeholder="Part Name*">
				<textarea id="show-part-description" placeholder="Part Description"></textarea>
				<input id="show-part-manufacturing-number" type="text" placeholder="Manufacturing Part Number*">
				<input id="show-part-darko-part-number" type="text" placeholder="Darko Part Number">
				<div class="file-upload">
					<div class="col-first">
						<%= image_tag("create_user/add_photo.png", id: "part-photo") %>
					</div>
					<div class="col-second">
						Specification <br>
						<%= image_tag("menu/attachment.png", id: "part-specification") %>
						<br>
						<div id="attach_text">ATTACHFILE</div>
					</div>
				</div>

				<div class="input-field">
					<input type="text" placeholder="" id="show-part-price">
					<select class="selectpicker">
						<option value="USD">USD</option>
					</select>
				</div>

				<input id="show-part-firmware" type="text">

				<input id="show-part-category-name" type="text">

				<div class="submit-div">
					<a class="btn btn-save-user" value="Create">Ok</a>
				</div>
			</div>
		</div>
	</div>
</div>


<%- # if current_user.can? :update, @part -%>
	<!-- <h2>Can update Part</h2> -->
<%- # end -%>
