<%= form_for(bom) do |f| %>
  <% if bom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bom.errors.count, "error") %> prohibited this bom from being saved:</h2>

      <ul>
      <% bom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :bom_category_id %>
    <%= f.text_field :bom_category_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
