<style>
	th {
		text-align: center;
	}
	td {
		text-align: left;
	}
	tr {
		padding-left: 10px;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	table {
		width: 100%;
	}
</style>
<% bom = @bom %>
<% total_count = 0; total_price = 0;%>
<table BORDER cellpadding="3">
	<thead>
		<tr>
			<th colspan=""><%= image_tag bom.photo.url, :style => 'width: 100px; height: 100px' %></th>
			<th><%= @bom.name %></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="text-align: center;">
				Part Items
			</td>
			<td>
				<table cellpadding=3 border="1">
					<% bom.part_modules.each do |part_module| %>
						<tr>
							<td>
								<%= image_tag part_module.part.picture.url %>
							</td>
							<td>
								<%= part_module.part.part_name %>
							</td>

							<td>
								x<%= part_module.count %>&nbsp;pc
							</td>
							<td>
								<%= part_module.part.firmware.nil? ? "" : part_module.part.firmware.number %>
							</td>
							<td >
								$<%= part_module.part.price %>
							</td>
							<% total_count = total_count + part_module.count; total_price = total_price + part_module.count * part_module.part.price.to_f %>
						</tr>
					<% end %>
				</table>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				Questions
			</td>
			<td>
				<table border="1">
					<% bom.questions.each do |question| %>
						<tr>
							<td>
								<%= question.question %>
							</td>
							<td>
								<% if question.question_type == 1 %>
									<% if question.choice_answer %>
										<label><input type="radio" checked name="choice_answer">Yes</label>
										<label><input type="radio" name="choice_answer">No</label>
									<% else %>
										<label><input type="radio" name="choice_answer">Yes</label>
										<label><input type="radio" checked name="choice_answer">No</label>
									<% end %>
								<% elsif question.question_type == 2 %>
									<% question.multi_questions.each do |mul| %>
										<label><input type="checkbox" <%= (mul.selected) ? "checked" : "" %> name="multi_answer[]"><%= mul.text_answer %></label>
									<% end %>
								<% else %>
									<label><input type="text" name="text_answer" value="<%= mul.text_answer %>"></label>
								<% end %>
							</td>
						</tr>
					<% end %>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center;">
				Total Cost:&nbsp;&nbsp;$<span class="total_cost"><%= total_price %></span> (<span class="total_count_span"><%= total_count %></span>x items)
			</td>
		</tr>
	</tbody>
</table>