<p id="notice"><%= notice %></p>

<h1>Questionnaires</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Text question</th>
      <th>Text question answer</th>
      <th>Select question</th>
      <th>Select question answer</th>
      <th>Multiple question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questionnaires.each do |questionnaire| %>
      <tr>
        <td><%= questionnaire.type %></td>
        <td><%= questionnaire.text_question %></td>
        <td><%= questionnaire.text_question_answer %></td>
        <td><%= questionnaire.select_question %></td>
        <td><%= questionnaire.select_question_answer %></td>
        <td><%= questionnaire.multiple_question %></td>
        <td><%= link_to 'Show', questionnaire %></td>
        <td><%= link_to 'Edit', edit_questionnaire_path(questionnaire) %></td>
        <td><%= link_to 'Destroy', questionnaire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Questionnaire', new_questionnaire_path %>
