<%= form_for(firmware) do |f| %>
  <% if firmware.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(firmware.errors.count, "error") %> prohibited this firmware from being saved:</h2>

      <ul>
      <% firmware.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :publish_date %>
    <%= f.datetime_select :publish_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
